<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="assets/css/ace.min.css" />
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="css/style.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->
    <script src="assets/js/ace-extra.min.js"></script>
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="assets/layer/layer.js" type="text/javascript"></script>
    <title>登陆</title>
</head>

<body class="login-layout">
<div class="logintop">
    <span>欢迎后台管理界面平台</span>
    <ul>
        <li><a href="#">返回首页</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">关于</a></li>
    </ul>
</div>
<div class="loginbody">
    <div class="login-container">
        <div class="center">
            <h1>
                <!--<i class="icon-leaf green"></i>-->
                <!--<span class="orange">思美软件</span>-->
                <span class="white">校班车后台管理系统</span>
            </h1>
            <h4 class="white">Background Management System</h4>
        </div>

        <div class="space-6"></div>

        <div class="position-relative">
            <div id="login-box" class="login-box widget-box no-border visible">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            <i class="icon-coffee green"></i>
                            管理员登陆
                        </h4>

                        <div class="login_icon"><img src="images/login.png" /></div>



                                <label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<input type="text" class="form-control" placeholder="登录名"  name="登录名" id="userName">
									<i class="icon-user"></i>
								</span>
                                </label>

                                <label class="block clearfix">
								<span class="block input-icon input-icon-right">
									<input type="password" class="form-control" placeholder="密码" name="密码" id="pwd">
									<i class="icon-lock"></i>
								</span>
                                </label>

                                <div class="space"></div>

                                <div class="clearfix">
                                    <label class="inline">
                                        <input type="checkbox" class="ace">
                                        <span class="lbl">保存密码</span>
                                    </label>

                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" id="login_btn">
                                        <i class="icon-key"></i>
                                        登陆
                                    </button>
                                </div>

                                <div class="space-4"></div>


                        <div class="social-or-login center">
                            <span class="bigger-110">通知</span>
                        </div>

                        <div class="social-login center">
                            本网站系统不再对IE8以下浏览器支持，请见谅。
                        </div>
                    </div><!-- /widget-main -->

                    <div class="toolbar clearfix">
                    </div>
                </div><!-- /widget-body -->
            </div><!-- /login-box -->
        </div><!-- /position-relative -->
    </div>
</div>
</body>
</html>
<script>

    $('#login_btn').on('click', function(){
        console.log($("#userName").val()+$("#pwd").val());
        if ($("#userName").val() == ""){
            layer.alert('请输入用户名！',{
                title: '提示框',
                icon:1,
            });
        }
        if ($("#pwd").val() == ""){
            layer.alert('请输入密码！',{
                title: '提示框',
                icon:1,
            });
        }
        $.ajax({
            type: "post",
            url: "http://127.0.0.1:8080/login",
            dataType: "json",
            data: {
                "userName":$("#userName").val(),
                "pwd":$("#pwd").val(),
                "status":"0"
            },
            //success的值 0成功，1用户名不存在，2密码错误。
            success:function (data) {
                console.log(data)
                if (data.success == 0){
                    layer.alert('登陆成功！',{
                        title: '提示框',
                        icon:1,
                    });
                    //跳转首页busList
                    location.href="busList.html";
                    // layer.close(index);
                }else if(data.success == 1){
                    layer.alert('用户名不存在！',{
                        title: '提示框',
                        icon:1,
                    });
                    // layer.close(index);
                }else if(data.success == 2){
                    layer.alert('密码错误！',{
                        title: '提示框',
                        icon:1,
                    });
                    // layer.close(index);
                }
            }
        })
    })

</script>